body {
  background-color: whitesmoke;
}

header.jumbotron {
  background-color: lightslategrey;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: whitesmoke!important;
}

div.card {
  background-color: lightgray;
}
