<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="posts(appUser, currentUser)">
	<ul th:each="post : ${appUser.posts}" style="border-top-style: dashed; list-style-type: none">
		<li><br><b>Created At:</b> <span th:text="${post.createdAt}">Time Stamp</span></li>
		<li th:if="${appUser} != ${currentUser}"><b>Author:</b> <span th:text="${singleFollower.username}"></span></li>
		<li th:text="${post.body}">Body</li>
		<li th:if="${appUser} != ${currentUser}"><a th:href="'/users/' + ${singleFollower.id}">View my profile</a></li>
	</ul>
</div>
</html>