<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<div th:fragment="userInfo(appUser)">
		<img src="/default_image.png" width="100">
		<p><b>Username:</b> <span th:text="${applicationUser.username}"></span></p>
		<p><b>First Name:</b> <span th:text="${applicationUser.firstName}"></span></p>
		<p><b>Last Name:</b> <span th:text="${applicationUser.lastName}"></span></p>
		<p><b>Date of Birth:</b> <span th:text="${applicationUser.dateOfBirth}"></span></p>
		<p><b>Bio:</b> <span th:text="${applicationUser.bio}"></span></p>
		<p th:if="${!#lists.isEmpty(applicationUser.posts)}"><b>Posts:</b></p>
	</div>
</html>