<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Code Fellowship - Home</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous"
		>
	</head>
	
	<body>
		<header class="jumbotron">
			<div th:replace="fragments/nav :: navNoUserLoggedIn"></div>
		</header>
	
		<main class="container">
			<h1>Welcome to Code Fellowship</h1>
			<p>Please log in to your account or create a new account</p>
		</main>
	</body>
</html>