<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Code Fellowship - My Profile</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous"
		>
	</head>
	
	<body>
		<header class="jumbotron">
			<div th:replace="fragments/nav :: navUserLoggedIn(user=${applicationUser})"></div>
		</header>
		
		<main class="container">
			<h1>Welcome, <span th:text="${applicationUser.firstName} + ' ' + ${applicationUser.lastName}"></span>, to your
				profile</h1>
			<div>
				<img src="/default_image.png" width="100">
				<p>Username: <span th:text="${applicationUser.username}"></span></p>
				<p>Date of Birth: <span th:text="${applicationUser.dateOfBirth}"></span></p>
				<p>Bio: <span th:text="${applicationUser.bio}"></span></p>
				<div th:replace="fragments/posts :: posts(appUser=${applicationUser})"></div>
			</div>
		</main>
	</body>
</html>