<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Code Fellowship - Post</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous"
		>
		<link href="/style.css" rel="stylesheet">
	</head>
	
	<body>
		<header class="jumbotron">
			<div th:replace="fragments/nav :: navUserLoggedIn(user=${applicationUser})"></div>
		</header>
	
		<main class="container">
			<form method="POST" action="/post">
				<div class="form-group">
					<label for="body">Write a new post:</label>
					<textarea class="form-control" name="body" id="body" rows="5"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</main>
	</body>
</html>