<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Code Fellowship - Single User</title>
	<link
	 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	 rel="stylesheet"
	 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous"
	>
</head>
<body>
	<header class="jumbotron">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/myprofile">Code Fellowship</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav" th:if="${user}">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Log Out</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/users">All Users <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/myprofile">My Profile</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav2" th:unless="${user}">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/loginpage">Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Sign Up</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<main class="container">
		<h1>Learn more about <span th:text="${applicationUser.username}"></span>!</h1>
		<img src="/default_image.png" width="100">
		<ul style="list-style-type:none">
			<li>First Name: <span th:text="${applicationUser.firstName}"></span></li>
			<li>Last Name: <span th:text="${applicationUser.lastName}"></span></li>
			<li>Date of Birth: <span th:text="${applicationUser.dateOfBirth}"></span></li>
			<li>Bio: <span th:text="${applicationUser.bio}"></span></li>
		</ul>
	</main>
</body>
</html>