<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Code Fellowship - Single User</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous"
		>
	</head>
	
	<body>
		<header class="jumbotron">
			<div th:replace="fragments/nav :: navUserLoggedIn(user=${currentUser})"></div>
		</header>
	
		<main class="container">
			<h1>Learn more about <span th:text="${applicationUser.username}"></span>!</h1>
			<div style="list-style-type:none">
				<img src="/default_image.png" width="100">
				<p>First Name: <span th:text="${applicationUser.firstName}"></span></p>
				<p>Last Name: <span th:text="${applicationUser.lastName}"></span></p>
				<p>Date of Birth: <span th:text="${applicationUser.dateOfBirth}"></span></p>
				<p>Bio: <span th:text="${applicationUser.bio}"></span></p>
				<div th:replace="fragments/posts :: posts(appUser=${applicationUser})"></div>
			</div>
		</main>
	</body>
</html>