<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Code Fellowship - Single User</title>
		<link
		 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		 rel="stylesheet"
		 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous"
		>
		<link href="/style.css" rel="stylesheet">
	</head>
	
	<body>
		<header class="jumbotron">
			<div th:replace="fragments/nav :: navUserLoggedIn(user=${currentUser})"></div>
		</header>
	
		<main class="container">
			<h1>Learn more about <span th:text="${applicationUser.username}"></span>!</h1>
			<div>
				<div th:replace="fragments/userInfo :: userInfo(appUser=${applicationUser})"></div>
				<div th:replace="fragments/posts :: posts(appUser=${applicationUser}, currentUser=${applicationUser})"></div>
			</div>
		</main>
	</body>
</html>